/* CSS files add styling rules to your content */
/* @import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css'); */


*{
  margin: 0px;
  padding: 10px;
  outline: 0;
}

  .responsive {

    width: 100%;
    height: auto;

  }

  img{

    width: 90%;
  }


 

.container{
  width: 100%;
  left: 50%;
  top: 50%;
  padding: 30px;
  box-shadow: 0 2px 8px rgb(194, 101, 58 ,.1) ;
  background-color: #ffffff;

}
.container i {

  font-size: 2rem;
  transition: .4s;

}

.container:hover i{
  width: 10%;
  color:#f50057;
  transition: .4s;


}
