/* CSS files add styling rules to your content */
/* @import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css'); */


  html {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: black;
    color: coral;
  }
  
 
 body{
   background-color: black;
   color: coral ;
 }
  
  .responsive {

    width: 100%;
    height: auto;

  }

  #content{

    background-color: black;
    color: rgb(194, 101, 58);
    

  }

  .social-like,
  .social-dislike {
    border: none;
    outline: none;
    font-size: 16px;
    width: 48%;
    background-color: #ca5a0f;
    color: #fff;
  }
  
  .social-like {
    border-top-left-radius: 5px;
    text-align: right;
  }
  
  .like:focus,
  .like:active,
  .dislike:focus,
  .dislike:active {

    padding: 40%;
    
  }
  
  .social-dislike {
    border-top-right-radius: 5px;
    text-align: left;
  }
  
  .count,
  .like,
  .dislike {
    padding: 10px;
  }
  
  .count,
  .dislike {
    background-color: #bd4a16;
    border-radius: 50%;
    font-size: 12px;
  }
  
  .dislike {
    margin-left: -13px;
  }
  
  .count {
    margin-right: -10px;
  }