/* CSS files add styling rules to your content */

html {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    color: black;
  }
  
  h1 {
    font-style: italic;
    color:coral;
  }
  
  .responsive {

    width: 100%;
    height: auto;

  }

  #content{

    color: rgb(70, 16, 172);
    

  }

  .heart {
    font-size: 25px;
    color:red;
  }